        <style>
          textarea{
    width:100%;
    height:40em;
    border:none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cecdcd;
    outline:none;
    resize:vertical;
}

        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
        
        
        <form method="POST" action="<%= process.env.BASE_URL %>/editor<%- locals._method=='POST' ? '' : '/'+data._id %>?_method=<%= _method%>">
          <input type="hidden" name="_method" value="<%= _method%>" />
          <div class="header">
            <div class="header_row">
                <label for="a">Title</label>
                <input type="text" name="title" value="<%= data.title %>" />
            </div>
          
            <div class="header_row">
                <label for="b">Short description</label>
                <input type="text" name="description" value="<%= data.description %>" />
            </div>

          </div>
          <div style="font-family:monospace;">
            <textarea name="content"><%= data.content %></textarea>
          </div>

          <input type="submit" value="save" />
        
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script>
       const easyMDE = new EasyMDE();
    </script>
