<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if (locals.title) { %>
         <%= locals.title %>
      <% } %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/editor.css' />
  </head>
  <body>
    <div class="metadata">
      <div class="container">
            Editor
            <!--title<br>
            description<br>
            uri<br>
            createData<br>
            updateDate<br>-->
      </div>
    </div>
    <div class="body">
      <div class="container">

        <form method="POST" action="<%= process.env.BASE_URL %>/editor<%- locals._method=='POST' ? '' : '/'+locals.file %>?_method=<%= locals._method%>">
          <input type="hidden" name="_method" value="<%= locals._method%>" />
          <div style="font-family:monospace;">
            <textarea name="dat"><%= locals.dat %></textarea>
          </div>
          <button>save</button>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script>
       const easyMDE = new EasyMDE();
    </script>
  </body>
</html>