
    <h1>
      <%= title %>
    </h1>
    <hr>
    <ul class="frontpage">
      <% for(var i=0; i<documentHeaders.length; i++) { %>
        <li><a href="./<%- documentHeaders[i].file %>""><%- documentHeaders[i].data.Title %></a><br>
          <%- documentHeaders[i].data.Description %><br>
          <%- documentHeaders[i].data.Author %><br>
          <%- documentHeaders[i].data.Date %>
        </li>
    <% } %>
    </ul>
