<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (access_granted===true ) { %>
      <div><a href="./editor">edit</a></div>
    <% } %>
    <hr>
    <ul>
    <% for(var i=0; i<content.length; i++) { %>
        <li><a href="./<%- content[i].file %>""><%- content[i].title %></a></li>
    <% } %>
    </ul>
  </body>
</html>



