<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    Journaling Johannes Kalma
  </title>
  <!-- theme 2867 styling-->
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/2867/2867.css?v1.0.0' />
  <!-- local styling-->
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/style.css' />
</head>

<body>
  
  <nav>
<!--
<%- //JSON.stringify(locals) %>
-->

    <section class="container">
	    <a href="<%= process.env.BASE_URL %>">Home</a>

            &nbsp;|&nbsp;

            <% if ( locals.access_granted ) { %>
            <a href="<%= process.env.BASE_URL %>/logout">Logout</a> 
            &nbsp;|&nbsp;
            <a href="<%= process.env.BASE_URL %>/editor">New</a>
            <% } else { %> 
            <a href="<%= process.env.BASE_URL %>/login">Login</a>
            <% } %>

<!-- <% if(locals.access_granted) { %><%- access_granted %> <% } %> -->
<!-- &nbsp;|&nbsp; -->
<!-- <a href="./realtime">Realtime</a> -->

    </section>
  </nav>
  <section class="container">
  <%- body%>
  </section>
</body>
</html>
