<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>
    <%= title %>
  </title>
  <!-- theme 2867 styling-->
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/2867/normalize.css' />
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/2867/elements.css'>
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/2867/typography.css'>
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/2867/form.css'>
  <!--<link rel='stylesheet' href='./css/grid-2867.css'>-->
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/2867/grid.css'>
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/2867/util.css'>
  
  <!-- local styling-->
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/style.css' />
</head>

<body>
  <section class="container">
  <%- body%>
  </section>
</body>
</html>