<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <% let titlePost='Journaling Johannes Kalma' %>
    <% if ( locals.data && locals.data.title ) { %>
      <%= locals.data.title +' ['+titlePost+']' %>
    <% } else { %> 
      <%= titlePost %>
    <% } %>
  </title>
  <!-- theme 2867 styling-->
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/2867/2867.css?v1.0.0' />
  <!-- local styling-->
  <link rel='stylesheet' href='<%= process.env.BASE_URL %>/css/style.css' />
</head>

<body>
  
  <nav>
    <section class="container">
            <% if ( locals.access_granted ) { %>
            <a href="<%= process.env.BASE_URL %>">Home</a>
            &nbsp;|&nbsp;
            <a href="<%= process.env.BASE_URL %>/logout">Logout</a> 
            &nbsp;|&nbsp;
            <a href="<%= process.env.BASE_URL %>/editor">New</a>
            <% } %>

<% /*********** %>
//else { %> 
//            <a href="<%= process.env.BASE_URL %>/login">Login</a>
//            <% } %>
<% ***********/ %>
    </section>
  </nav>

  <section class="container">
     <%- body%>
  </section>

</body>
</html>
